In [1]:
from sqlalchemy import create_engine
import pandas as pd
import pymysql

In [4]:
conn = create_engine(f"mysql+pymysql://hyunsoo:910506@localhost:3307/dataops?charset=utf8mb4")

tips = pd.read_csv("/home/ubuntu/workspace/Dagster/dataset/tips.csv")

tips.to_sql(name="tips", con=conn, if_exists="replace")

244

In [7]:
fakeuser = pd.read_csv("/home/ubuntu/workspace/Spark_Streaming/sparklab/csv/part-00000-fa40096e-10d7-4015-aed2-868ea5306843-c000.csv")
fakeuser.to_sql(name="fakeuser", con=conn, if_exists="replace")

3

In [2]:
conn = create_engine(f"postgresql://hyunsoo:pghyunsoo@localhost:5432")

pd.read_sql("show databases", conn)

ModuleNotFoundError: No module named 'psycopg2'

In [10]:
df = pd.read_csv("./tutorial/data/names.csv")

df.to_sql(name="names", con=conn, if_exists="replace")

2000

In [13]:
pd.read_sql("SELECT * FROM dataops.names", conn).head()

   index  id       name  year gender  count
0      0   1       Mary  1880      F   7065
1      1   2       Anna  1880      F   2604
2      2   3       Emma  1880      F   2003
3      3   4  Elizabeth  1880      F   1939
4      4   5     Minnie  1880      F   1746