In [10]:
from pyspark.sql import SparkSession
import dotenv
import os

env_path = dotenv.find_dotenv()
dotenv.load_dotenv(env_path)

spark = SparkSession.builder \
        .master("local") \
        .appName("hadoop-ncloud") \
        .config("spark.driver.extraClassPath", "./jdbc/mysql-connector-j-8.4.0.jar:./jdbc/postgresql-42.7.3.jar") \
        .getOrCreate()

sc = spark.sparkContext
access_key = os.environ.get("ACCESS_KEY_ID")
secret_key = os.environ.get("ACCESS_SECRET_KEY")

sc._jsc.hadoopConfiguration().set("fs.s3a.access.key", access_key)
sc._jsc.hadoopConfiguration().set("fs.s3a.secret.key", secret_key)
sc._jsc.hadoopConfiguration().set("fs.s3a.impl", "org.apache.hadoop.fs.s3a.S3AFileSystem")
sc._jsc.hadoopConfiguration().set("fs.s3a.aws.credentials.provider", "org.apache.hadoop.fs.s3a.SimpleAWSCredentialsProvider")
sc._jsc.hadoopConfiguration().set("fs.s3a.connection.ssl.enabled", "false")
# sc._jsc.hadoopConfiguration().set("fs.s3a.endpoint", "http://kr.objectstorage.ncloud.com")

In [2]:
df = spark.read.parquet("s3a://personal-golight-image-bucket/postgresql/fake_dataframe/")

In [3]:
def write_mysql(df, db_name, table_name):
    df.write \
    .mode("append") \
    .format("jdbc") \
    .option("driver", "com.mysql.cj.jdbc.Driver") \
    .option("url", f"jdbc:mysql://dockercompose-mysql-1:3306/{db_name}") \
    .option("dbtable", table_name) \
    .option("user", "hyunsoo") \
    .option("password", "910506") \
    .save()

In [4]:
write_mysql(df, "dataops", "s3data")

In [4]:
pdf = df.groupby("city").count()

pdf.coalesce(1).write.mode('overwrite').parquet("s3a://personal-golight-image-bucket/gazuaaaaaaa")

In [6]:
df.createOrReplaceTempView("fake")

In [7]:
def qq(query):
    return spark.sql(query)

In [8]:
_query = """
SELECT *,
CASE 
    WHEN age <40 THEN '젊은이'
    WHEN age >=40 AND age < 70 THEN '중년'
    ELSE '노년'
END AS analy
FROM fake
"""

qq(_query).show()

+--------------------+------+--------------------------------+---+-----+--------------+----------+---+------------+----------+----+---+---+------+
|                uuid|  name|                             job|sex|blood|          city|birth_year|age|age_category|batch_date|yyyy| mm| dd| analy|
+--------------------+------+--------------------------------+---+-----+--------------+----------+---+------------+----------+----+---+---+------+
|PscFahxA7ZipcqJiy...|김순옥|                          수금원|  F|    A|        경기도|      1936| 88|        80대|  20240114|2024|  1| 14|  노년|
|aFcBovFwKKGYuZ2Np...|박경자|전기 부품 및 제품제조 기계조작원|  F|   AB|    부산광역시|      2004| 20|        20대|  20240114|2024|  1| 14|젊은이|
|HhxVzky52G3iLd8vS...|김도윤|          보조 교사 및 기타 교사|  M|    A|    울산광역시|      1959| 65|        60대|  20240114|2024|  1| 14|  중년|
|daTdeSWJnf743fZpN...|이성호|    국가/지방 및 공공행정 사무원|  M|   AB|제주특별자치도|      1995| 29|        20대|  20240114|2024|  1| 14|젊은이|
|UtxCAwqnYXjBoRcJJ...|박채원|             섀시 조립 및 설치원|  F|    O|    서울특별시|      1918|106|   90대 이상|  20240114|2024|  1| 14|  노년|
|iXHF9Po9bX5N89f3F...|김성수|                     운송 사무원|  M|    O|    대전광역시|      1988| 36|        30대|  20240114|2024|  1| 14|젊은이|
|ALg85qt9bPi8mBGNC...|김우진|                          패턴사|  M|    O|        강원도|      2011| 13|        10대|  20240114|2024|  1| 14|젊은이|
|Xg26DwowKYFG7ANqC...|고광수|       전기공학 기술자 및 연구원|  M|    A|    광주광역시|      2014| 10|        10대|  20240114|2024|  1| 14|젊은이|
|ibbpcDBPYVtZrHMVm...|양지영|             장기 부사관 및 준위|  F|    B|    부산광역시|      1992| 32|        30대|  20240114|2024|  1| 14|젊은이|
|kcvphW3SzzKKWcjY2...|최서현| 식품/섬유 공학 및 에너지 시험원|  F|    O|    대전광역시|      1939| 85|        80대|  20240114|2024|  1| 14|  노년|
|nKiJNrsiEYy4isGSC...|오명자|   전기/전자 및 기계 공학 시험원|  F|    O|      충청북도|      2000| 24|        20대|  20240114|2024|  1| 14|젊은이|
|KAPVbRwuwiTzXkMbA...|김지후|                      행사기획자|  M|   AB|    인천광역시|      1984| 40|        40대|  20240114|2024|  1| 14|  중년|
|3J6BsLRfqem9fTdvY...|이성호|                        산업전공|  M|    O|      전라북도|      1916|108|   90대 이상|  20240114|2024|  1| 14|  노년|
|E8c7fsVzyGrgtoj3j...|한성현|          보조 교사 및 기타 교사|  M|    A|    울산광역시|      2014| 10|        10대|  20240114|2024|  1| 14|젊은이|
|gACJxp9hS5YWavwb6...|민지후|                 환경공학 시험원|  M|    O|      경상북도|      1973| 51|        50대|  20240114|2024|  1| 14|  중년|
|SC2pgWH7Rxe4aCcKr...|한준호|       목재 가공관련 기계 조작원|  M|    O|      경상북도|      1925| 99|   90대 이상|  20240114|2024|  1| 14|  노년|
|MTnHEHzN8PbjD43w8...|김지우|      광원/채석원 및 석재 절단원|  F|   AB|    부산광역시|      1998| 26|        20대|  20240114|2024|  1| 14|젊은이|
|dZFsZ6Vmr53HoeT2t...|김상철|             세탁관련 기계조작원|  M|   AB|      전라남도|      1913|111|   90대 이상|  20240114|2024|  1| 14|  노년|
|5PjS99aLCj3YtV6Uk...|안은경|        냉/난방 관련 설비 조작원|  F|   AB|세종특별자치시|      1938| 86|        80대|  20240114|2024|  1| 14|  노년|
|Mavz6wqcm4m3Kszta...|김옥자|             정보통신관련 관리자|  F|    A|    대구광역시|      2022|  2|         0대|  20240114|2024|  1| 14|젊은이|
+--------------------+------+--------------------------------+---+-----+--------------+----------+---+------------+----------+----+---+---+------+
only showing top 20 rows